{% extends "base.html" %}
{% block content %}

<section id="what-we-do">
    <h1 class="text-center">What we Do</h1>
    <p class="text-center">This is a paragraph explaining what the NGO does.</p>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section id="the-team" >
    <h1 class="text-center">The Team</h1>
    <div>
        <div>
            <h3 class="text-center">Helen</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="../assets/images/square-cat.jpg" alt="Picture of Helen"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Patrick</h3>
            <h4 class="text-center">Head of Waste Management</h4>
            <div class="center-block"><img src="../assets/images/square-cat.jpg" alt="Picture of Patrick"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Dennis</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="../assets/images/canstockphoto22921721.jpg" alt="Picture of Dennis"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Niclas</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="../assets/images/square-cat.jpg" alt="Picture of Niclas"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Tina</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="../assets/images/square-cat.jpg" alt="Picture of Tina"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div>
            <h3 class="text-center">Hakis</h3>
            <h4 class="text-center">Title</h4>
            <div class="center-block"><img src="../assets/images/square-cat.jpg" alt="Picture of Tina"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <!--Pictures of the Team with our titles, Head of Waste Management etc...-->
    </div>
</section>
<section id="educational-links">
    <h1 class="text-center">Educational Links</h1>
    <p class="text-center">The following is a a comprehensive list of organisations we support and work with. Please also read about their work and learn more about preserving the planet.</p>
    <!--Some Educational Links to external websites for educational purposes-->
</section>

{% endblock %}