{% extends "base.html" %}
{% block content %}
<div class="reforestation-project">
    <h2>Take a leaf of faith</h2>
    <p>By taking a leap of faith and buying a leaf of sponsorship we guarantee that 100% of your donation will end up in the earth. More precisely, it ends up in enriched soil prepared by us to grow the trees that will carry our Mother Earth into a better future</p>
</div>

<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Donate a leaf</h2>
            <input type="text" class="field" placeholder="Your Name">
            <input type="text" class="field" placeholder="Your Email">
            <input type="text" class="field" placeholder="Phone">
            <textarea placeholder="Message" class="field"></textarea>
            <button class="btn">Send</button>
        </div>
    </div>
</div>
<div class="row justify-content-center pb-5">
    <div class="col-md-6 text-center">
        <div id="paypal-button"></div>
    </div>
</div>
    <!-- Paypal Sandbox -->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="{{url_for('static', filename='js/paypal.js')}}"></script>

{% endblock %}